---
const SKILLS = [
  {
    name: "agriculture leader",
    src: `${import.meta.env.BASE_URL}/images/service-1-1.webp`,
  },
  {
    name: "quality standards",
    src: `${import.meta.env.BASE_URL}/images/service-1-2.webp`,
  },
  {
    name: "organic services",
    src: `${import.meta.env.BASE_URL}/images/service-1-3.webp`,
  },
];
---

<section
  class="w-full pt-20 pb-12 lg:pb-0 lg:mb-32 bg-secondary-300 relative before:contents-[''] before:w-full before:h-4 before:absolute before:rotate-180 before:-top-4 before:left-0 before:bg-ripped-skill"
>
  <div
    class="w-full max-w-lg md:max-w-3xl lg:max-w-7xl h-full mx-auto flex flex-col lg:flex-row justify-center items-center gap-8 px-3"
  >
    {
      SKILLS.map(({ name, src }) => (
        <a href="#" class="group/skill w-full">
          <div class="relative mb-14 lg:-mb-20 w-full">
            <img
              src={src}
              alt={name}
              class="w-full rounded-lg blur-none transition duration-500 ease-in group-hover/skill:blur-sm"
            />
            <div class="w-11/12 absolute left-1/2 bottom-0 bg-secondary-50 rounded-md py-5 -translate-x-1/2 translate-y-1/2 shadow-md">
              <h3 class="font-inter text-primary-800 text-center capitalize text-lg font-semibold group-hover/skill:text-secondary-300">
                {name}
              </h3>
            </div>
          </div>
        </a>
      ))
    }
  </div>
</section>
